services:
  vault:
    image: hashicorp/vault:1.15
    container_name: lattice-vault
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: "root"
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
    cap_add:
      - IPC_LOCK
    networks:
      - kind

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    container_name: lattice-keycloak
    command: start-dev --import-realm
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
    volumes:
      - ./deploy/keycloak:/opt/keycloak/data/import
    networks:
      - kind

networks:
  kind:
    external: true
